body{
    text-align: center;
    font-family: Orbitron, sans-serif;

}
#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header{
    width: 100%;
    height: 400px;
    background-image: url("images/ikr.jpg");
    background-size: cover;
    box-sizing: border-box;
    text-shadow: 0 0 4px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0 0;
}

.title{
    background: #6CB2E1;
    margin: 0 10px;
    border-radius: 8px;
    padding: 4px 8px;
    color: white;
}

.desc{
    background: #0b2b41;
    margin: 10px;
    border-radius: 8px;
    padding: 4px 8px;
    color: white;
}

.activities{
    background:  #F4E9D5;
    font-family: Orbitron;
}

#places-title{
    color: #0b2b41;
}

#places{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.avatars{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.act{
    margin: 40px;
}

.description, .act p{
    color: #0b2b41;
}

.card{
    width: 550px;
    background-color: #67a7d1;
    padding: 20px;
    color: #0b2b41;
    display: flex;
    border-radius: 10px;
    margin: 60px auto;
}

.guide{
    width: 40%;
    border-radius: 10px;
    border: #0b2b41 2px solid;
}

.card-text{
    width: 60%;
    padding: 0px 20px;
}

.btn{
    background: #0b2b41;
    padding: 15px;
    border-radius: 20px;
    border: none;
    color: white;
    font-weight: bold;
    margin-bottom: 40px;
}

.btn:hover{
    background: #103d5c;
    font-size: 15px;
}