body{
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input{
 width: 100%;
 padding: 10px;
 box-sizing: border-box;
 border: 1px solid #5f9341;
}

button{
    background: #5f9341;
    color: white;
    padding: 10px 20px;
    border: #5f9341 solid 1px;
    font-weight: bold;
    margin-top: 4px;
}

#delete-btn{
    background-color: white;
    color: #5f9341;
    
}

ul{
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li{
    margin-top: 5px;
}

li a{
 color: #5f9341;
}